
header {
    display: flex;
    justify-content: center;
    background-color: #F7F7F7;
    align-items: center;
    justify-content: space-evenly;
    height: 80px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.008), 0 6px 6px rgba(0,0,0,0.13);
}

img {
    width: 150px;
    height: 130px;
}

.navBar__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar__list--item {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-size: medium;
    text-transform: uppercase;
    font-weight: 600;    
}

.navBar__list--item:hover {
    color: #FF2C32;
    transition: all 0.2s ease;
}

.navBar__list--icon:hover {
    cursor: pointer;
    color: #FF2C32;
    transition: all 0.2s ease;
}

.btn-selected {
    cursor: pointer;
    transition: all .2s ease;
    padding: 8px 18px;
    border-radius: 100px;
    background: #FF2C32;
    border: 1px solid transparent;
    font-size: 15px;
    color: #F7F7F7;
}

.btn-selected:hover {
    transition: all .2s ease;
    background: #F7F7F7;
    border: 1px solid #FF2C32;
    color: #FF2C32;
}

.navBar__list--span {
    color: aqua;
    z-index: 1;
}

@media only screen and (max-width: 480px) {
    img {
        width: 150px;
        height: 180px;
    }
    header {
       /* flex-direction: column;
        height: 380px;*/
        position: fixed;
        top:0;
        left: 0;
        z-index: 1;
        width: 100%;
    } 

    .navBar__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;       
    }  
    .navBar__list--item {
        margin-top: 10px;
    }

}